html{
    background-color: rgb(255, 255, 255);

}

@font-face {
    font-family: 'myfont';
    src: url(font/babyblocks.ttf);
}


.flexbox-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.flexbox-item{
    width: auto;
    /*border: 3px solid #333;*/
    background-color: rgb(255, 255, 255);
    
}

.flexbox-item-1{
    min-height: 50px;
    align-items: center;

}
header{
    
    float: left;
    text-transform:capitalize;
    color: rgb(0, 0, 0);
    font-family: myfont;
    font-size:larger;
    width: 100px;
    text-align:end;
    padding-top: 5px;
    
}
header a{
    text-decoration: none;
    color: black;
    transition: 0.50s;
}
header a:hover{
    transition: 0.20s;
    color: greenyellow;
}

nav.navibar{

}
.ul-1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.ul-1 li{
    float: right;
}
.ul-1 li a{
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: black;
    text-transform: lowercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.50s;
}
li a:hover{
    transition: 0.20s;
    color: greenyellow;
    
}

.flexbox-item-2{
    min-height: 600px;
    background-image: url("me.JPG");
    opacity: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    margin: 0;
    border-radius: 10px;
    animation: 2s ease-out 0s 1 slideInFromLeft;

}

.flexbox-item-2a{
    min-height: 600px;
    background-image: url("about.jpg");
    opacity: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    margin: 0;
    border-radius: 10px;
    animation: 2s ease-in 0s 1 slideInFromLeft;
}

.flexbox-item-2b{
    min-height: 600px;
    background-image: url("skills.jpg");
    opacity: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    margin: 0;
    border-radius: 10px;
    animation: 2s ease-in 0s 1 slideInFromLeft;
}


article{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: left;
    margin-left: 100px;
    text-shadow: 1px 1px black;
    letter-spacing: 2px;
}
.art-1{
    font-size:10ch;
    font-family: myfont;
    color: white;
    padding-top: 150px;
}
.art-2{
    line-height: 25px;
    font-size:x-large;
}

.flexbox-item-3{
    min-height: 100px;
    align-items: center;
}
.navibar-2{
    display: table;
    margin: 0 auto;
    padding-top: 35px;
}
.ul-2{
    list-style-type: none;
    
    

}
.ul-2 li{
    display: inline;
    padding-top: 35px;
    
}
.ul-2 li a{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    text-transform: lowercase;
    transition: 0.20s;
    
    
}
.ul-2 li a:hover{
    color: greenyellow;
    transition: 0.20s;
}

@keyframes slideInFromLeft {
    0% {
      opacity: 0;
      filter: grayscale(100%); 
    }
    100% {
      opacity: 65%;
      filter: grayscale(0);
    }
  }
