@font-face {
    font-family: 'greyscale';
    src: url('Greyscale_Basic_Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'greyscale';
    src: url('Greyscale_Basic_Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}


body, html {
    margin: 0;
    font-family: 'greyscale', sans-serif;
    

}

.container {
    display: flex;
    flex-direction: column;
}




.heroImage {
    background-image: linear-gradient(to left, rgba(44, 51, 78, 0.199), rgb(0, 0, 0)), url("bg2.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .heroText {
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      padding-top: 250px;
      overflow: hidden;
  }

  .heroText header{
      font-size: 4em;
      color: yellowgreen;
      font-weight: bold;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  }

  .heroText sub{
      font-size: 2em;
      color: white;
      font-style: italic;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.25);

  }

  .heroText button {
    width: 100px;
    height: 40px;
    padding: 10px;
    margin-top: 25px;
    background-color: yellowgreen;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'greyscale';
    font-weight: bold;
  }

  .heroText button:hover {
    background-color: white;
    color: yellowgreen;
    transition: 0.25s;
  }

  /* The navigation bar */
.navbar {
    overflow: hidden;
    background-image: linear-gradient(to bottom right, rgb(44, 51, 78), black);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199);
    z-index: 1;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    color: yellowgreen;
  }

  hr {
      width: 80%;
      margin: auto;
      opacity: 25%;
      
  }

  .section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      transform: translateY(20px);
      opacity: 0;
      transition: 1s;
  }

  .section.show {
    width: 100%;
    transform: translateY(0);
    opacity: 1;
  }

  .Content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 20vh;
      margin-bottom: 20vh;

  }

  .Text{
      width: 400px;
      padding-left: 100px;
      position: relative;
      overflow: hidden;
      
  }

  .table{
    padding-left: 250px;
    
}




  h1{
      color: yellowgreen;
  }

  #aboutImg {
      border-radius: 10px;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  }

  .fa-shapes {
    font-size: 40px;      
    background:-moz-linear-gradient(top, #2c334e 0%, black 100%); 
    background: -webkit-linear-gradient(top, #2c334e 0%,black 100%); 
    background: linear-gradient(to bottom, #2c334e 0%, black 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
   font-size: 30vh;
  }

  #projTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 500px;
    background-image: linear-gradient(to bottom right, #2c334e, black);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  }
  
  #projTable td, #projTable th {
    border: 1px solid yellowgreen;
    padding: 20px;
  }
  
  #projTable tr:nth-child(even){
    background-image: linear-gradient(to bottom right, #2c334e, black);
    }
  
  #projTable td:hover {
      font-weight: bold;
      transition: 0.1s;
    }
  
  #projTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: yellowgreen;
    color: white;
  }

  #projTable tr {
      color: white;
  }

  #projTable a {
      text-decoration: none;
    color: white;
}

h2, h3 {
  margin: 0;
}

li {
  padding: 10px;
}

.skillList{
  margin: auto;
  width: 80%;
  background-image: linear-gradient(to bottom right, #2c334e, black);
  border-radius: 10px;
  color: white;
  padding: 25px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);

}

.skillList > h1 {
  text-align: center;
}

.skillList > hr {
  color: yellowgreen;
  opacity: 50%;
}

.Resume{
  margin: auto;
  width: 100%;
  background-image: linear-gradient(to bottom right, #2c334e, black);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Resume > h1 {
  text-align: center;
}

.Resume > hr {
  color: yellowgreen;
  opacity: 50%;
}

#resumePic {
  padding: 25px;
  opacity: 35%;
  transition: 0.5s;
}
#resumePic:hover {
  padding: 25px;
  opacity: 100%;
}


footer {
  color: yellowgreen;
  bottom: 0;
  width: 100%;
}

.footerSocial {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fa-envelope-square, .fa-github-square, .fa-linkedin{
  font-size: 50px;
  padding: 10px;
  color: yellowgreen;

}


footer > p {
  text-align: center;
  padding: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.contactForm {
  width: auto;
  height: auto;
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

form input {
  padding: 10px;
  width: 600px;
  margin-bottom: 10px;
}

form button {
  margin: auto;
  margin-top: 10px;
  width: 100px;
  padding: 10px;
  background-color: yellowgreen;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'greyscale';
  font-weight: bold;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

}

form button:hover {
  background-color: white;
  color: yellowgreen;
  transition: 0.1s;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

}



form > h2 {
  padding: 0;
  margin: 0;
  text-align: left;
}


@media (max-width: 800px) {

  .navbar a {
    padding: 5px 7px;
  }

  .heroText header{
    font-size: 2em;
  }

  .heroText sub {
    font-size: 1em;
  }

  .Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Text, .table {
    padding: 0;
    text-align: center;
  }

  #aboutImg {
    max-width: 80%;
    height: auto;
  }

  #projTable {
    width: auto;
  }


  #resumePic {
    max-width: 100%;
    height: auto;
    padding: 0;
    padding-top: 10px;
    opacity: 35%;
  }
  #resumePic:hover {
    opacity: 100%;
    padding: 0;
    padding-top: 10px;
  }

  .Resume {
    width: 80%;
  }

  ul {
    text-align: left;
  }

  form input {
    padding: 10px;
    width: auto;
    margin-bottom: 10px;
  }
  

}



  
