html{
    margin: 0 auto;
    padding: 80px;
    background-image: linear-gradient(to bottom right, #2c334e, black);
    font-family: Unispace, sans-serif;


}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

}

.topSection{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;


    
}

.logoHead{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 8vh;
    font-weight: bold;
    color: #25FE7C;
    text-transform: uppercase;
    text-align: center;
    animation: fadeInAnimation2 ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
#logo{
    margin-bottom: 100px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    

}

.topSection > sub{
    font-size: 4vh;
    opacity: 50%;
    color: #d67821;
    margin-top: 10px;
    margin-bottom: 300px;
    animation: fadeInAnimation3 ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

#navbar {
    position: fixed; /* Make it stick/fixed */
    top: -400px; /* Hide the navbar 400 px outside of the top view */
    width: 10%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    display: flex;
    flex-direction: column;
    margin-right: 1350px;
    margin-top: 100px;
  }
  
  /* Style the navbar links */
  #navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  #navbar a:hover {
    color: #25FE7C;
  }
#navbar a.active{
    color:#25FE7C
}


.sections{
    display: flex;
    flex-direction: column;
    
}

.sec{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 5vh;
    padding-top: 5vh;
    width: 800px;
    opacity: 0;

}

.textSec1, .textSec2, .textSec4{
    display: flex;
    flex-direction: column;
    padding: 10%;
    align-items: left;

}
.textSec4{
    height: 600px;
}


p, h2, h3 {
    text-align:left;
    color: white;
    padding: 0;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: #d67821;
    text-align: left;
}
hr{
    width: 100%;
    color: #25FE7C;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
     }
}
@keyframes fadeInAnimation2 {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
     }
}
@keyframes fadeInAnimation3 {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
     }
}



@media (max-width: 1500px) {

    .topSection{
        margin-top: 0px;
    }
    .topSection > header{
        text-align: center;
    }

    /* The navigation bar */
    #navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
        background-color: #2c334e;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.247);
        position: fixed; /* Set the navbar to fixed position */
        top: -400px; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
        margin: 0;
    }
    
    /* Links inside the navbar */
    #navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 12px;
    }
    
    /* Change background on mouse-over */
    #navbar a:hover {
        color: #25FE7C;
    }
    .sec{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 5vh;
        padding-top: 5vh;
        width: 500px;        
    }
    p, h2, h3 {
        text-align:center;
        color: white;
        padding: 0;
        margin: 10px;
    }
    h1{
        color: #d67821;
        text-align: center;
    }
    ul{
        text-align: center;
    }
    .uncwGraphic{
        text-align: center;
    }
    sub{
        text-align: center;
    }
    hr{
        width: 80%;
    }
    


}

ul{
    color: white;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.textSec3{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: auto;
    padding: 10px;
    
    
}

